.red-background {
    background-color: red;
}

.calendar {
    padding-top: 24px;
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
    width: 100%;
    flex-direction: column;
}

.react-calendar {
    width: 100% !important;
}

.box {
    height: 24px;
    widows: 24px;
}
.calendar__charts {
    padding-top: 24px;
}